<!DOCTYPE html>
<html lang="en-US">
head
	include ../include/head.pug
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
	link(rel="stylesheet", href="/css/updated.css")
	//- title Java Full Stack

	body
	include ../include/nav.pug
		section.mentor-section
			.container
				.row
					.col-lg-8
						#enlighten-breadcrumb
							a(href="/") Home  > 
								span.current Course  > 
								span.current Java Selenium 
						.course-introduction
							p.course-title Manual testing
							.course-rating
								span
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star-half-o(aria-hidden="true")
								|355 Ratings
								span 3065 Learners
							p.course-description An industry aligned course which offers in-depth knowledge of Software Testing practices including SDLC, STLC, Defect Logging, Different types of Testing and understanding Business Requirement Document.
							span.highlighter
								img(src="/images/background/verification.png", alt)
								|100% Job Guarantee | Minimum CTC: ₹ 5 LPA
					.col-lg-4
						.course-mentor
							.mentor
								img.mentor-img(src="/images/team/male-staff.png", alt="" )
							p.mentor-name Dayanand Mhetre
							p.mentor-rating
								i.fa.fa-star(aria-hidden="true")
								i.fa.fa-star(aria-hidden="true")
								i.fa.fa-star(aria-hidden="true")
								i.fa.fa-star(aria-hidden="true")
								i.fa.fa-star-half-o(aria-hidden="true")
							p.mentor-designation Founder, Testing Shastra (7.5 Y)
		.container
			.row
				.key-feature
					h3 key-feature
					.after-affect-1

					ul.key-flex
						li 100Hrs of Hands-on training 
						li Flexible weekend trainings
						li Complete Core Java  
						li including Collection Framework
						li Selenium WebDriver 3.0
						li Start-To-End Framework Designing 
						li Addon tools like, Maven, Git and Jenkins
						li Live Project
						li Duration: 3.5 Months
		section.course-detail
			.container
				.row
					.col-lg-8
						.left-body
							.course-info
								div
									h3 Why Learn Manual Course in Pune at Testing Shastra
									ul.specification-list
										li After completing every topic you will get the practical assignments for the practice.
										li Post course completion candidate get the support.
										li 100% Practical Oriented Sessions.
										li Get best java classes in Pune at Testing Shastra.
										li Project Based Learning.
										li Provide ready to deploy candidates to the company.
										li 120+ Students Placed in different Organizations.
										li Provide ready to deploy candidates to the company.
								.bottom-line
								.you-tube
									h5 watch our demo session on YouTube
									.move-right
										a(href="https://www.youtube.com/channel/UCg_SUG_BAPtVUvTSKse2xBg/search?query=day-1" target="blank")
											i.fa.fa-youtube-play(aria-hidden="true")  Click Here Now To Get Your Free Demo
							.available-section
								.available-sec-head
									h2 Manual Testing Course Available In:
								.available-section-body
									ul
										li class room
										li online
										li weekend batch
										li regular batch
										li 
											a(href="#syllabusBtn") syllabus  
											i.fa.fa-chevron-down(aria-hidden="true")
							.course-benefits
								h4.benefits-head course-benefits
								.bottom-line
								ul.benefits-list
									li By the end of this course, you will be able to write functional test cases using tools like TestRail and HP QC
									li You will be able to read and understand Business Requirement Document
									li You will be able to log defects and can understand Agile process
									li At last you can crack any interview in the field of Software Testing and can successfully secure career in IT
							.Syllabus-section
								.Syllabus-header
									h3 Manual Testing Course Syllabus
									.bottom-line
								.Syllabus-sub-header
									h3 Module-1
									ul
										li Introduction to Software Testing
										li SDLC phases and Deliverables
										li DRE (Defect Removal Efficiency)
										li Entry Criteria and Exit Criteria
										li White Box Testing
										li System Integration Testing 
										li Black Box Testing and It's Types
									h3 Module 2
									ul 	
										li Test Design and Implementation
								.syllabus-body#syllabusBtn 
									h3 Introduction to Software Testing 
									.after-affect-1
									.syllabus-list
										ol
											li Introduction to testing
											li Importance of software testing
											li Testing Roles and Responsibilities
											li Verification vs validation
											li Types of Applications
									h3 SDLC phases and Deliverables
									.after-affect-1
									.syllabus-list
										ol
											li Requirement Gathering 
											li Analysis of Requirement
											li Design (HLD & LLD)
											li Analysis of Design
											li Coding
											li Analysis of Coding
											li Testing
											li Maintenance 
											li Request for Change/Change Request
											li Graphical representation of SDLC process
											li BRS and SRS documents
 		
									h3 White Box Testing
									.after-affect-1 
									.syllabus-list 	
										ol
											li Execution Testing Techniques
											li Operation Testing Techniques
											li Mutation Testing Techniques

									h3 System Integration Testing 
									.after-affect-1 
									.syllabus-list 	
										ol
											li Top - Down Approach
											li Bottom - Up Approach
											li Sandwich/Bidirectional Approach

									h3 Black Box Testing and It's Types
									.after-affect-1 
									.syllabus-list 	
										ol
											li Usability Testing
											li Functional Testing
											li Security Testing. (Overview)
											li Performance Testing. (Overview)


									h3 Module 2 – Test Design and Implementation
									.after-affect-1 
									.syllabus-list 	
										ol
											li Difference between Test case, Use case and Scenario
											li How to Prepare a test case template?
											li Regression Suite
											li Smoke suite
											li Sanity suite
											li Regression Testing
											li Smoke Testing
											li Sanity Testing
											li Priority
											li Severity
											li Difference between Error, bug, defect
											li Test Case Design Technique
											li Boundary Value Analysis
											li Equivalence Partitioning
											li Bug/Defect Life cycle
											li How to Prepare the Bug template?
											li Bug Tracking tool
											li STLC – Software Testing Life Cycle
											li Testing Terminologies.
											li Difference between Functional and Non-functional testing
											li Test Environments and Test data preparation
											li Live project testing
											li Live Jira overview.
											li Different email templates
											li Interview Questions and Answers

     		     
								.download-syllabus   
									//- a(href="../public/images/syllabus/Manual Testing2020 Syllabus" download)	download syllabus
									//- 	button download 
									a(href="/images/syllabus/manual-testing-syllabus-2021.pdf" download ="manual-testing-syllabus-2021.pdf") download syllabus  
										<i class="fa fa-download" aria-hidden="true"></i>

					.col-lg-4
						.right-body
							.contact-us
								.form-header
									p.text Enquire About Java Full Stack Developer Course
									small Call us now or send us your information
								.form-body
									.call-number
										i.fa.fa-phone(aria-hidden="true")
										a(href="tel:9130502135") + 91 9130502135
									.input-group
										input.form-control(type="text", placeholder="First Name")
									.input-group
										input.form-control(type="text", placeholder="Last Name")
									.input-group
										input.form-control(type="text", placeholder="Email ID")
									.input-group
										input.form-control(type="text", placeholder="Mobile Number")
									.input-group
										input.form-control(type="text", placeholder="Course Interested In")
									.input-group
										button.submit  submit 
										//  <button class="submit">cancel</button> 
							.student-review.d-none
								.card-head
									h6 Full Stack Java Developer Course Reviews
								.review-section
									.student-img
										img(src="/images/team/user-2.png", alt)
									.student-info
										span Yohani  De Silva 
										p Full Stack Web Developer,(Pune)
									.student-rating
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star-half-o(aria-hidden="true")
									p I have completed web-development and Java Full Stack course from Testing shastra. Testing shastra is one of the best institute to improve your skills.Teaching staff is also good.It is best place to learn practical knowledge.
								.review-section
									.student-img
										img(src="/images/team/user-1.png", alt)
									.student-info
										span Yohani  De Silva 
										p Full Stack Web Developer,(Pune)
									.student-rating
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star-half-o(aria-hidden="true")
									p I have completed web-development and Java Full Stack course from Testing shastra. Testing shastra is one of the best institute to improve your skills.Teaching staff is also good.It is best place to learn practical knowledge.
								.review-section
									.student-img
										img(src="/images/team/user-3.png", alt)
									.student-info
										span Yohani  De Silva 
										p Full Stack Web Developer,(Pune)
									.student-rating
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star-half-o(aria-hidden="true")
									p I have completed web-development and Java Full Stack course from Testing shastra. Testing shastra is one of the best institute to improve your skills.Teaching staff is also good.It is best place to learn practical knowledge.
								.review-section
									.student-img
										img(src="/images/team/IMG_1242-1.jpg", alt)
									.student-info
										span Yohani  De Silva 
										p Full Stack Web Developer,(Pune)
									.student-rating
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star-half-o(aria-hidden="true")
									p I have completed web-development and Java Full Stack course from Testing shastra. Testing shastra is one of the best institute to improve your skills.Teaching staff is also good.It is best place to learn practical knowledge.	
								.review-section
									.student-img
										img(src="/images/team/team.jpg", alt)
									.student-info
										span Yohani  De Silva 
										p Full Stack Web Developer,(Pune)
									.student-rating
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star-half-o(aria-hidden="true")
									p I have completed web-development and Java Full Stack course from Testing shastra. Testing shastra is one of the best institute to improve your skills.Teaching staff is also good.It is best place to learn practical knowledge.		

	include ../include/footer.pug


	link#enlighten-lite-dynamic-fonts-css(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato%7CTitillium+Web%7COpen+Sans&ver=4.9.8", type="text/css", media="all")
	script(type="text/javascript", src="https://demo.accesspressthemes.com/enlighten/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.3")
	script(type="text/javascript", src="https://demo.accesspressthemes.com/enlighten/wp-content/themes/enlighten/js/navigation.js?ver=20151215")
	script(type="text/javascript", src="https://demo.accesspressthemes.com/enlighten/wp-content/themes/enlighten/js/skip-link-focus-fix.js?ver=20151215")
	script(type="text/javascript", src="https://demo.accesspressthemes.com/enlighten/wp-includes/js/wp-embed.min.js?ver=4.9.8")
	script(src="https://code.jquery.com/jquery-3.6.0.min.js"  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
	script(src="/js/handlers/contact-us.handler.js")